.section[data-theme="inicio"] {
    background-color: #152238;
    color: #ffffff;
}
.section[data-theme="guardianes"] {
    background-color: #fca311;
    color: #ffffff;
}
.section[data-theme="discipulados"] {
    background-color: #ece5da;
    color: #5a4a38;
}
.section[data-theme="escuela"] {
    background-color: #e0f0f8;
    color: #223843;
}
.section[data-theme="reuniones"] {
    background-color: #1c1c1e;
    color: #d1d1d1;
}