/* === BUTTONS === */
.cta {
    background-color: #d69500;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: background 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.cta:hover {
    background-color: #e2aa23;
}