/* === BASE === */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffaf0;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    width: 0px;
    display: none;
}
* {
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}